body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
}

.raised-text {
    padding-bottom: 6px;
    text-align: start;
    color: #cecece;
    font-size: 30px;
    font-weight: bold;
    text-shadow:
        1px 1px 0 #a8a8a8,
        2px 2px 0 #919191,
        3px 3px 0 #797979,
        4px 4px 0 #6d6d6d,
        5px 5px 0 #5c5c5c,
        6px 6px 0 #474747,
        7px 7px 0 #353535,
        8px 8px 10px rgba(31,
            31,
            31, 0.4),
        8px 8px 1px rgba(31,
            31,
            31, 0.1),
        0px 0px 10px rgba(31,
            31,
            31, 0.4),
        0px 0px 10px rgba(31,
            31,
            31, 0.4);
}