* {
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Text','Helvetica Neue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f1f1f1;
  min-height: 100vh;
}

.c-container {
  display: grid;
  place-content: center;
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#photos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: calc(30px * 9.0);
}

textarea {
  margin: 10px;
  resize: none;
  width: 90%;
  max-width: 600px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

textarea:focus {
  outline: lime solid 1px;
}

.p-form-switch {
  --width: 35px;
  cursor: pointer;
  display: inline-block;
}

.p-form-switch>input:checked+span::after {
  left: calc(100% - calc(var(--width) / 1.8));
}

.p-form-switch>input:checked+span {
  background: #60c35b;
}

.p-form-switch>span {
  background: #e0e0e0;
  border: 1px solid #d3d3d3;
  border-radius: 500px;
  display: block;
  height: calc(var(--width) / 1.6);
  position: relative;
  transition: all 0.2s;
  width: var(--width);
}

.p-form-switch>span::after {
  background: #f9f9f9;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.101987);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 3px 8px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  content: "";
  height: 84%;
  left: 3%;
  position: absolute;
  top: 6.5%;
  transition: all 0.2s;
  width: 52.5%;
}

.p-form-switch>input {
  display: none;
}
