* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    
}

#container {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: rgb(228, 53, 53);
    color: rgb(34, 31, 31);
    height: 200px;
    width: 200px;
    transform: translate(0, 0);
}