* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(233, 227, 227);
}

#navBar {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

#navBar > #container {
    display: flex;
    justify-content: space-between;
    margin: 10px 10%;
    width: fit-content;
}

.navBarItems {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(3, 3, 3);
}

.loginButton {
    border: 2px solid rgb(3, 3, 3);
    border-radius: 6px;
}

.signupButton {
    border: 2px solid rgb(3, 3, 3);
    border-radius: 6px;
    color: rgb(233, 227, 227);
    background-color: rgb(3, 3, 3);
}

#profilePicture {
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius: 90%;
    background-color: aquamarine;
}

#profilePicture:hover {
    box-shadow: 0px 0px 1px 4px rgba(128, 128, 128, 0.55);
}