body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dadada;
    width: 100%;
}

canvas {
    height: 470px;
    width: 470px;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
}

.canvas-container {
    height: max-content;
    width: max-content;
    max-width: calc(100% - 12px);
    max-height: calc(100% - 12px);
    background-color: rgb(31, 31, 31);
    border-radius: 8px;
    box-shadow: 7px 7px 33px;
    padding: 1px;
    margin: 5px;
}

.my-project-img {
    width: 50vh;
    height: auto;
    aspect-ratio: 1 / 1;
    max-width: calc(100% - 12px);
    max-height: calc(100% - 12px);
    border-radius: 8px;
    box-shadow: 7px 7px 33px;
    margin: 5px;
}

.raised-text {
    padding-bottom: 6px;
    text-align: center;
    color: #cecece;
    font-size: 30px;
    font-weight: bold;
    text-shadow:
        1px 1px 0 #a8a8a8,
        2px 2px 0 #919191,
        3px 3px 0 #797979,
        4px 4px 0 #6d6d6d,
        5px 5px 0 #5c5c5c,
        6px 6px 0 #474747,
        7px 7px 0 #353535,
        8px 8px 10px rgba(31,
            31,
            31, 0.4),
        8px 8px 1px rgba(31,
            31,
            31, 0.1),
        0px 0px 10px rgba(31,
            31,
            31, 0.4),
        0px 0px 10px rgba(31,
            31,
            31, 0.4);
}